{% extends 'base.html.twig' %}

{% block title %}Tous les jeux de LocaJeu
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('jeu') }}
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center">Tous les jeux</h1>
		<p class="text-center">Découvrez l'intégralité de notre ludothèque</p>

		{% include 'jeu/partials/_liste_jeux.html.twig' %}
	</div>
{% endblock %}
